body{
	background-image: url("../images/background.JPG");
	background-repeat: no-repeat;
	font-family: 'Uncial Antiqua', cursive;
	color: #b8860b;
}

header{
	border: solid;
	border-color: #99A3A4;
	font-size: 75px;
	text-align: center;
	margin: 15px;
	padding: 0;
	margin-left: 35px;
}

h1{
	font-size: 25px;
	text-align: left;
	margin-left: 25px;
}

h2{
	text-align: left;
	font-size: 25px;
	margin-left: 25px;
}

h3{
	text-align: left;
	font-size: 25px;
	margin-left: 25px;
}

h4{
	text-align: left;
	font-size: 25px;
	margin-left: 25px;
}

p{
	text-align: center;
	font-size: 25px;
}

button{
	margin-left: 25px;
}

.img-circle{
	background-color: #99A3A4;
	border: solid;
	border-color: #99A3A4;
	height: 170px; 
    width: 170px; 
    max-width: 250px; 
    max-height: 250px;
    margin: 10px;
    padding: 0;
}
